<div class="jumbotron">
  <form class="" action="/doctors" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="form-group">
      <label for="specialty">Specialty:</label>
      <input type="text" name="specialty" id="specialty">
    </div>
    <button type="submit" name="button">Add Doctor</button>
  </form>
</div>
